

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
- FAQs
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pattern {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: ;
  background-image: url("../images/pattern.png");
  background-size: cover;
  background-color:#00AD9B;
  background-position: 50% 0px;  
}

#logo {
  width: auto;
}

#containermargin{
  padding-bottom:8%;
}
.width {
  width:100%;
  background-color: #f6f8f9;
}

#footer {
  background-color: #185462;
}

#footer h2{
  text-align: center;
  margin-top:15%;
  color:#ffffff;
}

#footericons{
  display: inline-table;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:8%;
  margin-bottom: 8%;
  text-align: center;
  width:10%;
}

#footericons p{
  margin-top: 16px;
  color: #ffffff;
}

#footericons img{
  width:96px;
}

#developedby {
  color:#fff; 
  text-align:center; 
  margin-bottom:15%;
}

#how{
  text-align: center;
  top-margin:10%;
  overflow:hidden;
}

#how img{
  width:75%;
  max-width: 300px;
}

#howtext{
  max-width:328px;
  margin-top:8%;
  overflow:hidden;
}

#margintop{
  margin-top:15%;
}

#marginleft{
  margin-bottom:15%;
  margin-left:7%;
}

#faqtitlemargin{
  margin-top:7%;
}

#launchmargin{
  margin-top:4%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

#white{
  background-color: #ffffff;
  width: 100%;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0 0 0px; }
    }

    /* For devices larger than 550px */
    @media (min-width: 550px) {
      .container {
        width: 80%; }
        .column,
        .columns {}
        .column:first-child,
        .columns:first-child {
          margin-left: 0; }

          .one.column,
          .one.columns                    { width: 4.66666666667%; }
          .two.columns                    { width: 13.3333333333%; }
          .three.columns                  { width: 22%;            }
          .four.columns                   { width: 30.6666666667%; }
          .five.columns                   { width: 39.3333333333%; }
          .six.columns                    { width: 48%;            }
          .seven.columns                  { width: 56.6666666667%; }
          .eight.columns                  { width: 65.3333333333%; }
          .nine.columns                   { width: 74.0%;          }
          .ten.columns                    { width: 82.6666666667%; }
          .eleven.columns                 { width: 91.3333333333%; }
          .twelve.columns                 { width: 100%; margin-left: 0; }

          .one-third.column               { width: 30.6666666667%; }
          .two-thirds.column              { width: 65.3333333333%; }

          .one-half.column                { width: 48%; }

          /* Offsets */
          .offset-by-one.column,
          .offset-by-one.columns          { margin-left: 8.66666666667%; }
          .offset-by-two.column,
          .offset-by-two.columns          { margin-left: 17.3333333333%; }
          .offset-by-three.column,
          .offset-by-three.columns        { margin-left: 26%;            }
          .offset-by-four.column,
          .offset-by-four.columns         { margin-left: 34.6666666667%; }
          .offset-by-five.column,
          .offset-by-five.columns         { margin-left: 43.3333333333%; }
          .offset-by-six.column,
          .offset-by-six.columns          { margin-left: 52%;            }
          .offset-by-seven.column,
          .offset-by-seven.columns        { margin-left: 60.6666666667%; }
          .offset-by-eight.column,
          .offset-by-eight.columns        { margin-left: 69.3333333333%; }
          .offset-by-nine.column,
          .offset-by-nine.columns         { margin-left: 78.0%;          }
          .offset-by-ten.column,
          .offset-by-ten.columns          { margin-left: 86.6666666667%; }
          .offset-by-eleven.column,
          .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

          .offset-by-one-third.column,
          .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
          .offset-by-two-thirds.column,
          .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

          .offset-by-one-half.column,
          .offset-by-one-half.columns     { margin-left: 52%; }

        }


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #155160; 
  margin: 0px;
}

.top{
  width:100%;
  display: block;
  background-color: #00AD9B;
}

.addon{
  width: 300px;
  background-color: #fff;
  position:fixed;
  top:0;
  right:0;
  z-index: 500;
  margin-top: 16px;
  margin-right: 45px;
  margin-left: 16px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.addon:after {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 12px;
}

.addon img{
  height: 100%;
  display: block;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.addon p{
  float: left;
  padding: 18px;
  padding-left: 20px;
  color: #185462;
  padding: 16x;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  overflow: hidden;
}

.addon .welcome{
  color: #00C2AE;
  font-weight: 600;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500; 
}

h1 { 
  font-size: 4.0rem; 
  line-height: 1.2;  
  letter-spacing: -.1rem;
}

h2 {
  color: #227689; 
  font-size: 3.0rem; 
  line-height: 1.5; 
  font-weight:600;
}

h3 {  
  color: #227689; 
  font-size: 2.0rem; 
  line-height: 1.6; 
  font-weight:600; 
}

h4 { 
  font-weight:600; 
  font-size: 10.0rem; 
  line-height: 1.35; 
  letter-spacing: -.08rem; 
  color:#fff; 
  padding-top: 20px; 
}

h5 { 
  font-size: 1.8rem; 
  line-height: 1; 
  color: #155160; 
  font-weight:600; 
}

h6 {
  font-size: 1.5rem; 
  line-height: 1.6;  
  letter-spacing: 0; 
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 3.5rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 10.0rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; 
}

h4 span{
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-color: #00D2BA;
  display:inline-block;
  line-height:1em;
  position: relative;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button a:hover {
    text-decoration: none;
    color:#fff;
}

button a {
    text-decoration: none;
    color:#fff;
}

a {
  text-decoration: none;
  color: #00AD9B; 
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #00D2BA; 
}

h3 a {
  text-decoration: underline;
  color:#227689;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.addon button {
  height: 25px;
  font-size: 18px;
  color: #155160;
  background-color: #fff !important;
  padding: 0px;
  margin: 0px 20px;
  float: left;
  hover {
    color: #fff;
    background-color: #fff !important;
  }
}

button {
  a:hover {
    text-decoration: none !important;
  }
}

.button, button {
  display: inline-block;
  height: 48px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #00D2BA;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  transition: all 0.3s ease;
}

.button, button:hover{;
  background-color: #34AFCE; }
}

.button span {
  display: inline-block;
  height: 48px;
  padding: 0 30px;
  color: #00AD9B;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  transition: all 0.3s ease;
}

.button, button:hover{;
  background-color: #227689; }
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; 
}

ol {
  list-style: decimal inside; 
}

ol, ul {
  padding-left: 0;
  margin-top: 0; 
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; 
}

li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; 
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; 
}

th:first-child, td:first-child {
  padding-left: 0; 
}

th:last-child, td:last-child {
  padding-right: 0; 
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button {
  margin-bottom: 1rem; 
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; 
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; 
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}

.u-pull-right {
  float: right; 
}

.u-pull-left {
  float: left; 
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; 
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
  h4 { font-size: 8.0rem; 
    line-height: 1.35;
  }

  p {font-size: 14px;
    line-height: 24px;
  }

  .pattern {
    background-size: 800px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  h4 { font-size: 9.0rem; 
  } 
  .pattern {
    background-size: 800px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  h4 { font-size: 9.0rem; 
    line-height: 1.35;
  }

  .pattern {
    background-size: 800px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  h4 { font-size: 10.0rem; 
    line-height: 1.35;
  }

  .pattern {
    background-size: 1200px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  h4 { font-size: 10.0rem; 
    line-height: 1.35;
  }
}

/* FAQs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.start {
  text-align: start;
}

section.faq {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.faqlinks {
  border-bottom: 0px !important;
  padding: 0px !important;
}

.faqlinks a {
  color: #155160;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

.faqlinks a:hover {
  color: #00AC9B;
}

ul.links {
  list-style: none;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

ul.links li {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 300;
}

a.learn-more, a.top {
  display: inline;
  background-color: #fff;
}

section:not(#header):not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding: 100px 40px;
}

@media screen and (max-width: 630px) {
  section:not(#header):not(:last-of-type) {
    padding: 70px 40px;
  }
}

section:last-of-type {
  border-bottom: none;
  padding: 100px 40px 0;
}

.faq h2 {
  font-size: 42px;
  line-height: 64px;
  font-weight: 600;
}

@media screen and (max-width: 630px) {
  .faq h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

#faq-links-content {
  margin: 50px 0px !important;
}

#faq-content {
  text-align: center;
  border-top: 1px solid #eee;
}

#faq-content p {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}